AUTH_SECRET=
AUTH_URL=http://localhost:3000
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=
ADMIN_GITHUB_LOGINS=
CONTENT_REPO=Scottish-Hill-Runners/contents
CONTENT_BRANCH=main
CONTENT_STAGING_BRANCH=staging
RESEND_API_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_WEBHOOK_SECRET=
GLOBAL_CONFIG_API_TOKEN=
GLOBAL_CONFIG_ID=
BLOB_READ_WRITE_TOKEN=
